.container-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
}

.question-tab {
  width: 80vw;
  padding: 15px 30px;
  margin-bottom: 20px;
  border: 1px solid black;
  position: relative;
}

.question-title-link {
  color: black;
}

.buttons-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}

button.add-question-btn {
  align-self: start;
  margin-left: 40px;
  margin-bottom: 20px;
}

span.add-question-btn-sm {
  margin: 15px;
}


.dashboard-tab-btn {
  margin-left: 10px;
}

.dashboard-tab-btn img {
  padding: 10px;
  width: 20px;
  height: 20px;
}