.container-main {
  display: flex;
  flex-direction: row;;
  padding-top: 15px;
}

#question {
  display: flex;
  flex: 6;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#question-columns {
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  margin-bottom: -15px;
}

#summary{
  flex:2;
  text-align: center;
  border-left: 2px solid black;
  padding: 10px;
  align-items: center;
}

#summary > h3 {
  margin-bottom: 35px;
  text-align: left;
  margin-left: 30px;
}

p.text {
  font-size: 13px;
  text-align: left;
  margin-left: 30px;
}

div.row {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
}

.save-btn {
  width: 160px;
  padding: 10px 15px;
  margin-top: 50px;
  margin-left: 100px;
  align-self: center;
}

div div.label-container:last-of-type {
  animation: slide-up 1.4s ease;
}

div#question-rows div.label-container:last-of-type {
  animation: slide-up 1.4s ease;
}

@keyframes slide-up {
  0% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}